aio-pika==8.2.3
apscheduler==3.9
attrs==22.1
CacheControl==0.12.9
dask==2022.10.2
jsonschema==4.17
matplotlib==3.5
networkx==2.4
protobuf==3.19.6
pydantic==1.9
pymongo[srv,tls]==3.8
pytz==2022.7.1
pyyaml==5.3.1
randomname==0.1.5
regex==2022.10.31
ruamel.yaml==0.16.5
sanic-cors==2.0.0
sentry-sdk==0.17.0
SQLAlchemy==1.4.0
tarsafe==0.0.3
tensorflow-macos==2.9.2
twilio==6.26
aiogram==2.25.1
aiohttp==3.8.4
boto3==1.28.3
colorclass==2.2
coloredlogs==15.0.1
colorhash==1.2.1
confluent-kafka==2.2.0
fbmessenger==6.0.0
jsonpickle==3.0.1
mattermostwrapper==2.2
portalocker==2.7.0
prompt-toolkit==3.0
psycopg2-binary==2.9.5
pydot==1.4
pykwalify==1.7
python-engineio==4.5.1
python-socketio==4.4
questionary==1.5.1
rasa-sdk==3.6.0
redis==4.5.3
rocketchat_API==1.30.0
slack-sdk==3.19.2
structlog==23.1.0
structlog-sentry==2.0.2
tensorflow_hub==0.13.0
terminaltables==3.1.0
tqdm==4.31
typing-utils==0.1.0
webexteamssdk==1.6.1
joblib==1.2.0
sanic==21.12
sanic-routing==0.7.2
sanic-jwt==1.8.0
websockets==10.0
requests==2.23
typing-extensions==4.1.1
PyJWT==2.3.0
cryptography==36.0.1