<!DOCTYPE html>
<html>
<head>
     <title>LHP Quiz</title>
     <link href="static/css/style.css" rel="stylesheet">
     <link href="static/css/contact.css" rel="stylesheet">
</head>
<body>

     <!--Navigation bar-->
     <br>
     <nav class="opening">
          <a href="templates/index.html" style="color:rgb(16, 86, 152)">Homepage</a>
          <a href="templates/chat.html" style="color:rgb(16, 86, 152)">Chat with Me</a>
          <a href="templates/quiz.html" style="color:rgb(16, 86, 152)">Take Quiz</a>
          <a href="templates/contact.html" style="color:rgb(255, 255, 255)">Contact & Feedback</a>
     </nav>

     <!--Information-->
     <div class="margin">
          <h1>More information</h1>
          <p class="center font">
               This is the last page!
               <br>Thank you very much for visiting my website.
               <br>Please give me feedback about my work if you would like.
               <br>The form at the bottom of the page will be sent to my email.
               <br>
               <br>This website is about Le Hong Phong High School for the Gifted - my school.
               <br>Founded in 1927, the school has a rich history and a tradition of excellence in education. 
               <br>Students are talented and hardworking.
               <br>They have to pass a competitive entrance examination to be admitted to the school. 
               <br>They also excel in extracurricular activities such as sports, arts, music, clubs and social services. 
               </p>

          </p>
     </div>
     
     <!--Feedback-->
     <div class="margin">
          <h1>Send me feedback!</h1>
          <form action="https://formsubmit.co/roraau0311@gmail.com" method="POST">
               <input type="hidden" name = "_captcha" value="false">
               <input type="text" name="name" placeholder="Your name" required>
               <input type="email" name="email" placeholder="Your email" required>
               <input type="text" name="feedback" placeholder="Your feedback" required>
               <button type="submit">Send</button>
          </form>
     </div>
</body>
</html>