<!DOCTYPE html>
<html>
<head>
     <title>LHP Quiz</title>
     <link href="./static/css/style.css" rel="stylesheet">
     <link href="./static/css/features.css" rel="stylesheet">
</head>
<body>

     <!--Navigation bar-->
     <br>
     <nav class="opening">
          <button><a href="./index.html" style="color: black">> Go back to Homepage</a></button>
     </nav>

     <!--Introduction-->
     <h1 class="center">About this web</h1>
     <div class="text">
          <p>The web has 4 pages (languages in use: html, css, javascript):
               <br>
               <br>- "Homepage": Page to introduce the web.
               <br>- "Chat with Me": Page contains Chatbot and information about how to use Chatbot.
               <br>- "Take Quiz": Page about quizzes, sample questions for users to ask Chatbot.
               <br>- "Contact & Feedback": Page that illustrates my topic inspiration and area for user's feedback.
               <br>
               <br>I invite you to explore my website and learn more about my high school.
               <br>Thank you very much for your visit!
          </p>
     </div>

</body>
</html>